{% extends "index.html" %}

{% block page_title %}
  <title>Motas - Maps</title>
{% endblock %}

{% block content_index %}
  <div id="content-wrapper">

    <div class="container-fluid">

      <!-- Breadcrumbs-->
      <ol class="breadcrumb">
        <li class="breadcrumb-item">
          <a href="index">Dashboard</a>
        </li>
        <li class="breadcrumb-item active">Maps</li>
      </ol>

      <!-- Area Chart Example-->
      <div class="card mb-3">
        <div class="card-header">
          <i class="fas fa-chart-area"></i>
          Leaflet Maps Clinica_Fuenlabrada</div>
        <div class="card-body">
          <div id ="map"></div>
        </div>
        <div class="card-footer small text-muted">Updated yesterday at 11:59 PM</div>
      </div>


      <p class="small text-center text-muted my-5">
        <em>More chart examples coming soon...</em>
      </p>

    </div>
    <!-- /.container-fluid -->

    <!-- Sticky Footer -->
    <footer class="sticky-footer">
      <div class="container my-auto">
        <div class="copyright text-center my-auto">
          <span>Copyright © Your Website 2018</span>
        </div>
      </div>
    </footer>

  </div>
{% endblock %}

{% block adicional_js %}
  {% load staticfiles %}
  <script src="{% static 'js/leaflet_Clinica_Fuenlabrada.js' %}"></script>
{% endblock %}
