{% extends "index.html" %}

{% block page_title %}
  <title>Motas - Tables</title>

  <meta name="viewport" content="width=device-width, initial-scale=1">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.0/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/js/bootstrap.min.js"></script>
{% endblock %}

{% block content_index %}
  <div id="content-wrapper">

    <div class="container-fluid">

      <!-- Breadcrumbs-->
      <ol class="breadcrumb">
        <li class="breadcrumb-item">
          <a href="index">Dashboard</a>
        </li>
        <li class="breadcrumb-item active">Tables</li>
      </ol>

      <!-- Choose one of the motas -->
      <form method="POST">
        <div class="dropdown">
          <button class="btn btn-primary dropdown-toggle" type="button" data-toggle="dropdown">Elige mota
          <span class="caret"></span></button>
          <ul class="dropdown-menu dropdown-menu-center">
            {% for id in Id_motas %}
              <div class="btn mb-3">
                <label>
                  <input type="radio" name="mota" value="{{id}}">Mota{{id}}
                </label>
              </div>
            {% endfor %}
            <div class="btn mb-3">
              <input type="submit" value="Buscar">
            </div>
          </ul>
        </div>
      </form>
      <br>


      <!-- DataTables Example -->
      <div class="card mb-3">
        <div class="card-header">
          <i class="fas fa-table"></i>
          Data Table</div>
        <div class="card-body">
          <div class="table-responsive">
            <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
              <thead class="thead-dark">
                <tr>
                  <th>Planta</th>
                  <th>Mota</th>
                  <th>TMP-aire (ºC)</th>
                  <th>CO2 (ppm)</th>
                  <th>Humedad (%)</th>
                  <!-- <th>Fecha</th> -->
                  <th>Hora</th>
                </tr>
              </thead>
              <tbody>
                {% for entry in Medidas %}
                <tr>
                  <td>{{entry.planta}}</td>
                  <td>{{entry.id_mota}}</td>
                  <td>{{entry.TMPaire}}</td>
                  <td>{{entry.CO2}}</td>
                  <td>{{entry.HUMEDAD}}</td>
                  <!-- <td>{{entry.fecha}}</td> -->
                  <td>{{entry.hora}}</td>
                </tr>
                {% endfor %}
              </tbody>
            </table>
          </div>
        </div>
        <div class="card-footer small text-muted">Updated yesterday at 11:59 PM</div>
      </div>

      <p class="small text-center text-muted my-5">
        <em>More table examples coming soon...</em>
      </p>

    </div>
    <!-- /.container-fluid -->

    <!-- Sticky Footer -->
    <footer class="sticky-footer">
      <div class="container my-auto">
        <div class="copyright text-center my-auto">
          <span>Copyright © Your Website 2018</span>
        </div>
      </div>
    </footer>

  </div>
{% endblock %}
