{% extends "index.html" %}

{% block page_title %}
  <title>Motas - Tables</title>

  <meta name="viewport" content="width=device-width, initial-scale=1">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.0/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/js/bootstrap.min.js"></script>
{% endblock %}

{% block sidebar %}
<!-- Sidebar -->
<ul class="sidebar navbar-nav">
  <li class="nav-item active">
    <a class="nav-link" href="index">
      <i class="fas fa-fw fa-tachometer-alt"></i>
      <span>Dashboard</span>
    </a>
  </li>
  <li class="nav-item dropdown">
    <a class="nav-link dropdown-toggle" href="#" id="slicesDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
      <i class="fas fa-fw fa-chart-area"></i>
      <span>Slices</span>
    </a>
    {% block pages_slices %}
    <div class="dropdown-menu" aria-labelledby="slicesDropdown">
      {% for build in Builds %}
        <a class="dropdown-item" href="slices_{{build}}">{{build}}</a>
      {% endfor %}
    </div>
    {% endblock %}
  </li>
  <li class="nav-item dropdown">
    <a class="nav-link dropdown-toggle" href="#" id="tablesDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
      <i class="fas fa-fw fa-table"></i>
      <span>Tables</span>
    </a>
    {% block pages_tables %}
    <div class="dropdown-menu" aria-labelledby="tablesDropdown">
      {% for build in Builds %}
        <a class="dropdown-item" href="tables_{{build}}">{{build}}</a>
      {% endfor %}
    </div>
    {% endblock %}
  </li>
  <li class="nav-item dropdown">
    <a class="nav-link dropdown-toggle" href="#" id="pagesDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
      <i class="fas fa-fw fa-map"></i>
      <span>Maps</span>
    </a>
    {% block pages_maps %}
    <div class="dropdown-menu" aria-labelledby="mapsDropdown">
      {% for build in Builds %}
        <a class="dropdown-item" href="leaflet_{{build}}">{{build}}</a>
      {% endfor %}
    </div>
    {% endblock %}
  </li>
</ul>
{% endblock %}

{% block content_index %}
  <div id="content-wrapper">

    <div class="container-fluid">

      <!-- Breadcrumbs-->
      <ol class="breadcrumb">
        <li class="breadcrumb-item">
          <a href="index">Dashboard</a>
        </li>
        <li class="breadcrumb-item active">Tables</li>
      </ol>

      <!-- Choose one of the motas -->
      <form method="POST">
        <div class="dropdown">
          <button class="btn btn-primary dropdown-toggle" type="button" data-toggle="dropdown">Elige mota
          <span class="caret"></span></button>
          <ul class="dropdown-menu dropdown-menu-center">
            {% for id in Id_motas %}
              <div class="btn mb-3">
                <label>
                  <input type="radio" name="mota" value="{{id}}">Mota{{id}}
                </label>
              </div>
            {% endfor %}
            <div class="btn mb-3">
              <input type="submit" value="Buscar">
            </div>
          </ul>
        </div>
      </form>
      <br>


      <!-- DataTables Example -->
      <div class="card mb-3">
        <div class="card-header">
          <i class="fas fa-table"></i>
          Data Table</div>
        <div class="card-body">
          <div class="table-responsive">
            <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
              <thead>
                <tr>
                  <th>Planta</th>
                  <th>Mota</th>
                  <th>TMP-aire (ºC)</th>
                  <th>TMP-superficie (ºC)</th>
                  <th>CO2 (ppp)</th>
                  <th>Humedad (%)</th>
                  <th>Hora</th>
                </tr>
              </thead>
              <tbody>
                {% for entry in Medidas %}
                <tr>
                  <td>{{entry.planta}}</td>
                  <td>{{entry.mota}}</td>
                  <td>{{entry.TMPaire}}</td>
                  <td>{{entry.TMPsuperficie}}</td>
                  <td>{{entry.CO2}}</td>
                  <td>{{entry.HUMEDAD}}</td>
                  <td>{{entry.hora}}</td>
                </tr>
                {% endfor %}
              </tbody>
            </table>
          </div>
        </div>
        <div class="card-footer small text-muted">Updated yesterday at 11:59 PM</div>
      </div>

      <p class="small text-center text-muted my-5">
        <em>More table examples coming soon...</em>
      </p>

    </div>
    <!-- /.container-fluid -->

    <!-- Sticky Footer -->
    <footer class="sticky-footer">
      <div class="container my-auto">
        <div class="copyright text-center my-auto">
          <span>Copyright © Your Website 2018</span>
        </div>
      </div>
    </footer>

  </div>
{% endblock %}
